<a href="https://colab.research.google.com/github/ckrathub/myfirstrepository-/blob/main/Day00_Introduction_to_Programming_Environment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
(-3) ** 2

9

### Conditional Operators
<. >, ==, <=, >=, !=

In [28]:
(2 < 3) == (4 < 5)

True

In [30]:
ram_age = 20
hari_age = 30
akbar_age = 40

In [32]:
(ram_age < hari_age) and (hari_age > akbar_age)

False

### Mileage

Price of fuel : 100 Rs
Car_mileage : 15 kmpl
Cash_in_hand : 65

In [36]:
Car_mileage = 15
Price_of_fuel = 100
Cash_in_hand = 65

In [37]:
def mileage_calculator(mileage, fuel, cash):
  return (mileage/fuel*cash)

In [42]:
results = mileage_calculator (10, 50, 460)

In [44]:
type (results)

float